@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #f7f7f7;
}

a, a:visited, a:active {
  text-decoration: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px #dedede;
  margin-bottom: 5px;
  background-color: #fff;
}
header .header__logo {
  padding-top: 25px;
  padding-bottom: 15px;
}

/* localization section */
.localization {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.localization__icon {
  color: #454545;
}
.localization__text {
  font-weight: 500;
  font-size: 18px;
  color: #454545;
}

/** Explore section **/
.explore {
  background-color: #f7f7f7;
  padding: 40px 50px;
}
.explore__title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
}
.explore__text {
  font-size: 25px;
  padding-bottom: 40px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #454545;
}
.explore__btn_box {
  text-align: center;
}
.explore__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  box-shadow: 0px 5px 5px #dedede;
}