@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0 auto;
  font-family: Roboto, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px #dbdbdb;
  margin-bottom: 5px;
}
header .header__logo {
  padding-top: 25px;
  padding-bottom: 15px;
}

/* localization section */
.localization {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.localization .localization__icon {
  color: #424242;
}
.localization .localization__text {
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

/** Explore section **/
.explore {
  background-color: #fefefe;
  padding: 40px 50px;
}
.explore .explore__title {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
}
.explore .explore__text {
  font-size: 25px;
  padding-bottom: 40px;
  margin: 0;
  text-align: center;
  font-weight: 300;
  color: #424242;
}
.explore .explore_btn_box {
  text-align: center;
}
.explore .explore__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px;
  border: none;
  box-shadow: 0px 5px 5px #dbdbdb;
}