.menu_header {
  padding: 25px 25px 15px 25px;
  position: relative;
}
.menu_header__logo {
  margin: 0;
  text-align: center;
  font-family: Shrikhand;
  font-weight: normal;
}
.menu_header__arrow {
  position: absolute;
  top: 50%;
  color: #454545;
  font-size: 22px;
}