@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color:  #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$light-color: #f7f7f7;
$dark-color: #454545;

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
    background-color: $light-color;
}

a, a:visited, a:active{
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 5px darken($light-color,10%);
    margin-bottom: 5px;
    background-color: #fff;
.header__logo{
    padding-top: 25px;
    padding-bottom: 15px;
}
}

/* localization section */

.localization{
    background-color: darken($light-color, 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__icon{
        color: $dark-color;
    }
    &__text{
        font-weight: 500;
        font-size: 18px;
        color: $dark-color;
    }
}

/** Explore section **/

.explore{
    background-color: $light-color;
    padding: 40px 50px ;
    &__title{
        font-size: 30px;
        text-align: center;
        margin: 0;
        padding-bottom: 15px;
    }
    &__text{
        font-size: 25px;
        padding-bottom: 40px;
        margin: 0;
        text-align: center;
        font-weight: 300;
        color: $dark-color;
       } 
       &__btn_box{
        text-align: center;
       }
    &__btn{
        background: linear-gradient($secondary-color, $primary-color);
        border-radius: 30px;
        color:#fff;
        font-size: 20px;
        padding: 20px 30px;
        border: none;
        box-shadow:0px 5px 5px darken($light-color,10%);
    }
    
}
