@import "../utils/variables";

@keyframes card-appear {
    from {
        transform: translateY(15px);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

.menu_header{
  padding: 25px 25px 15px 25px;
  position: relative;
    &__logo {
        margin: 0;
        text-align: center;
        font-family: Shrikhand;
        font-weight: normal;
    }
    &__arrow{
        position: absolute;
        top: 50%;
        color: $dark-color;
        font-size: 22px;
        
    }
}

.menu_image{
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.menu_container{
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
    margin-top: -4rem;
    background-color: $light-color;
    &__header{
        display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-family: Shrikhand;
        font-weight: normal;
        padding: 20px;
        font-size: 30px;
    }
    &__heart{
        padding-right: 30px;
    }
    }

}

.menu_items{
        margin: 0 20px 0 20px;
        transform: translateY(-2rem);
        &__title{
            color: lighten($dark-color, 5);
            font-weight: 400;
            position: relative;
            padding-bottom: 0.5rem;
        }
        &__title:after{
            content: "";
            background: $tertiary-color;
            position: absolute;
            left: 0rem;
            bottom: 0rem;
            width: 3rem;
            height: 0.20rem;
        }
        &__cards{
            display: flex;
            flex-direction: column;
            gap: 15px
        }
        
    }

    @keyframes itemAppear {
        0% {
            transform: scale(0)
        }
        100% {
            transform: scale(1);
        }   
    }
    
    .menu_card{
        @include shadow;
        padding: 15px 35px 15px 15px;
        border-radius: 20px;
        background-color: #fff;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        transform: translateY(15px);
        animation: card-appear 1s forwards;
        opacity: 0;
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                animation-delay: 150ms * $i;
            }
        }
        &__content{
            flex: 1;
        }
        &__plate{
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 5px;
        }
        &__details{
            display: flex;
            justify-content: space-between;
        }
        &__price{
            font-weight: 700;
            display: flex;
            align-items: flex-end;
        }
        &:hover{
            .menu_card__price{
                margin-right: 0.3rem;
                transition: margin-right 100ms;
            }
            .check_icon{
                margin-right: -2.2rem;
                i {
                    transform: rotate(360deg);
                    transition: transform 500ms;
                }
            }
        }
        

    }

    

    .check_icon{
       margin: -1rem -7.2rem -1rem 1rem;
       width: 5rem;
        display: flex;
        background-color: $tertiary-color;
        align-items: center;
        color: #fff;
        justify-content: center;
        transition: ease-out 0.3s;
        border-radius: 0 20px 20px 0px;
        font-size: 1.5rem;
    }
    .command_btn_box{
        text-align: center;
        padding: 30px 0;
    }
    .command_btn {
        @include btn;
        width: 40%;
    }

