@import "../utils/variables";

.menu_header{
  padding: 25px 25px 15px 25px;
  position: relative;
    &__logo {
        margin: 0;
        text-align: center;
        font-family: Shrikhand;
        font-weight: normal;
    }
    &__arrow{
        position: absolute;
        top: 50%;
        color: $dark-color;
        font-size: 22px;
        
    }
}

.menu_image{
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.menu_container{
    border-radius: 50px 50px 0 0;
    position: relative;
    z-index: 2;
    margin-top: -4rem;
    background-color: $light-color;
    &__header{
        display: flex;
    align-items: center;
    justify-content: space-between;
    &__title{
        font-family: Shrikhand;
        font-weight: normal;
        padding: 20px;
        font-size: 30px;
    }
    &__heart{
        padding-right: 30px;
    }
    }

}

.menu_items{
        margin: 0 20px 0 20px;
        &__title{
            color: lighten($dark-color, 5);
            font-weight: 400;
            position: relative;
            padding-bottom: 0.5rem;
        }
        &__title:after{
            content: "";
            background: $tertiary-color;
            position: absolute;
            left: 0rem;
            bottom: 0rem;
            width: 3rem;
            height: 0.20rem;
        }
        &__cards{
            display: flex;
            flex-direction: column;
            gap: 15px
        }
        
    }
    .menu_card{
        @include shadow;
        padding: 15px 35px 15px 15px;
        border-radius: 20px;
        background-color: #fff;
        &__plate{
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 5px;
        }
        &__details{
            display: flex;
            justify-content: space-between;
            &__ingredients{

            }
            &__price{
                font-weight: 700;
            }
        }
        

    }
    
    .command_btn_box{
        text-align: center;
        padding: 30px 0;
    }
    .command_btn {
        @include btn;
        width: 40%;
    }

