
@keyframes card-appear {
  from {
    transform: translateY(15px);
  }
  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@keyframes heart {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
