@mixin shadow {
    box-shadow: 0px 5px 5px darken($light-color,10%);
}

@mixin title {
    font-size: $title-size;
    padding-bottom: 30px;
}

@mixin btn {
    background: $linear-gradient;
        border-radius: 30px;
        color:#fff;
        padding: 20px 30px;
        border: none;
        font-size: 20px;
        
}