$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$light-color: #f7f7f7;
$dark-color: #454545;
$title-size: 30px;
$linear-gradient: linear-gradient($secondary-color, $primary-color);
